// Placeholder to allow overriding predefined variables smoothly.


/*
Typography
========================================================================== */
$serif: Georgia, Times, serif !default;


/*
Gallery
========================================================================== */

   $border-radius: 4px !default;
   $global-transition: all 0.2s ease-in-out !default;
   $intro-transition: intro 0.3s both !default;

/*
Breakpoints
========================================================================== */

$small: 600px !default;